{% extends "base.html" %}
{% load bootstrap5 %}
{% block title %}Log-in{% endblock %}
{% block content %}
   <h1>Log-in</h1>
{% if form.errors %}
   <p>
     Your username and password didn't match.
     Please try again.
   </p>
 {% else %}
 <p>
   Please, use the following form to log-in. 
   If you don't have an account <a href="{% url "register" %}">register here</a>:
 </p>
  {% endif %}
<div class="login-form">
  <form action="{% url 'login' %}" method="post">
      {% bootstrap_form form  layout='inline' %}
      {% csrf_token %}
       <input type="hidden" name="next" value="{{ next }}" />
      {% buttons %}
        <button type="submit" class="btn btn-primary">
          log-In 
        </button>
      {% endbuttons %}
  </form>
</div>
{% endblock %}