{% load static %}
{% load bootstrap5 %}
{% bootstrap_css %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Twitter Clone</title>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}">Twitter Clone</a>
  <form class="form-inlined d-none d-md-block">
     <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">@</span>
      </div>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
    </div>
 </form>
  {% if request.user.is_authenticated %}
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
     <span class="navbar-toggler-icon"></span>
    </button>
  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}"> <i class="fas fa-home"></i>Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'profile' request.user.username %}"><i class="fas fa-user"></i>Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-envelope"></i>Messages</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{url 'activity' %}"><i class="fas fa-bell"></i>Notifications</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-gear"></i>Settings</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-Comment"></i>Comment</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#"><i class="fas fa-search"></i>Search</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " href="#"><i class="fas fa-boomark"></i>Bookmark</a>
      </li>
    </ul>
  </div>
  {% else %}
  <ul class="navbar-nav ml-auto">
    <li class="nav-item active">
      <a class="nav-link" href="{% url 'login' %}">Login</a>
    </li>
  </ul>

  {% endif %}
</nav>
{% block content %}
{% endblock %}

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<!-- Popper.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
<!-- Cookie js -->
<script src="//cdn.jsdelivr.net/npm/js-cookie@3.0.1/dist/js.cookie.min.js"></script>

<script>
 const csrftoken = Cookies.get('csrftoken');
 document.addEventListener('DOMContentLoaded',function(event) {
 // DOM DOMContentLoaded
 {% block domready %}
 {% endblock %}
 });
 </script>
</body>
</html>